<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/openmoji/272/bus_1f68c.png" id="icon" alt="User Icon" />
    </div>

    <!-- Login Form -->
    <form>
        <input type="text" [(ngModel)]="user.fname" id="login" class="fadeIn first" name="login" placeholder="first name">
        <input type="text" [(ngModel)]="user.lname" id="login" class="fadeIn first" name="login" placeholder="last name">
        <input type="text" [(ngModel)]="user.username" id="login" class="fadeIn second" name="login" placeholder="username">
        <input type="text" [(ngModel)]="user.password" id="login" class="fadeIn second" name="login" placeholder="password">
        <input type="text" [(ngModel)]="user.phone_no" id="login" class="fadeIn third" name="login" placeholder="phone number">
        <input type="text" [(ngModel)]="user.email_id" id="login" class="fadeIn third" name="login" placeholder="email id">
        <input type="submit" class="fadeIn fourth" value="Register" (click)="InsertUser()" routerLink="login">
    </form>
  </div>
</div>

