<!--
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BUS</title>
</head>
<body>
    <form  id="login_id">
        <label >Username : </label>
        <input type="text" [(ngModel)]="userLogin.username">
        <br>
        <label >Password : </label>
        <input type="text" [(ngModel)]="userLogin.password">
        <br>
        <button (click)="onLogin()">Login</button>
        <div *ngIf="user">
            Welcome user<mark>{{user.username}}</mark>
        </div>
        <div *ngIf="msg">
            {{msg}}
        </div>
        </form>    
</body>
</html>
-->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<!--<script>  
  window.myfunction=function validateform(){  
  var name=document.myform.login.value;  
  var password=document.myform.password.value;  
    
  if (name==null || name==""){  
    alert("Name can't be blank");  
    return false;  
  }else if(password.length<6){  
    alert("Password must be at least 6 characters long.");  
    return false;  
    }  
  }  
  </script>-->  
<div class="wrapper fadeInDown">
  <div id="formContent">
    <!-- Tabs Titles -->

    <!-- Icon -->
    <div class="fadeIn first">
      <img src="https://emojipedia-us.s3.dualstack.us-west-1.amazonaws.com/thumbs/120/openmoji/272/bus_1f68c.png" id="icon" alt="User Icon"/>
    </div>

    <!-- Login Form -->
    <form>
      <input type="text" [(ngModel)]="userLogin.username" id="login" 
      class="fadeIn second" name="login" placeholder="login" required minlength="4" #Uname="ngModel">
      <!--<div id="err" *ngIf="submitted && name.errors">
            <div *ngIf="name.errors.required">name is required</div>
      </div>
            <input id="name" name="name" class="form-control"
            required minlength="4" appForbiddenName="bob"
            [(ngModel)]="hero.name" #name="ngModel" >

      <div *ngIf="Uname.invalid && (Uname.dirty || Uname.touched)"
          class="alert alert-danger">

        <div *ngIf="Uname.errors.required">
          Name is required.
        </div>
        <div *ngIf="Uname.errors.minlength">
          Name must be at least 4 characters long.
        </div>

      </div>-->
      <input type="password" [(ngModel)]="userLogin.password" id="password" class="fadeIn third" name="password" placeholder="password">
      <input type="submit"  (click)="onLogin()" class="fadeIn fourth" value="Log In">
        <div *ngIf="user"> 
            Welcome <mark>{{userLogin.username}}</mark>
        </div>
        <div *ngIf="msg">
            {{msg}}
        </div>
    </form>

    <!-- Remind Passowrd -->
    <div id="formFooter">
      <!--<a class="underlineHover" href="#">Forgot Password?</a>&nbsp;-->
      <a class="underlineHover" href="#" routerLink="signup">Sign up</a>
    </div>

  </div>
</div>